/* Inserta tu código aqui */
.bloque1 
{
	
	position: relative;
	background-color: #FDBF3B;
	



}
/*.bloque2 .foto
{
	position:relative;
	left: 60px;
}*/

.foto
{
	width: 180px;
	height: 200px;
	display: inline-block;
	border-radius: 50%;

}
/*.bloque .foto
{
	display:inline-block;
}*/

.columna
{
	width: 550px;
	position: relative;

}


p
{
	text-align:center;
	font-size: 30px;



}


 .dos
{
	display:inline-block;
	position:absolute;
	left:660px;
	top:155px;
}

.coders
{
	width: 600px;
	height: 400px;
	border-radius:10%;

}


.logo1
{
	margin-top:50px;

}

.laboratoria
{
	width: 275px;
	height: 150px;
	display: inline-block;
	margin-bottom: 5px;
	border-radius: 15%;
}

.logo2
{
	position: absolute;
	left:330px;
	bottom:1px;
}

body 
{
	margin:0  auto;
	background-image: url("coders/img/logo_laboratoriafin.png");
}

.uno 
{
	top:140px;
	left:5px;
	bottom:8px;

}

.cabecera
{
	background-color:#ECA11F;
	width:1348px;
	height: 80px;
	position: absolute;
	left:5px;

}

h2
{
	color: white;
	font-size: 50px;
	position:absolute;
	left:8px;
	bottom:3px;
	top:-14px;
}

.containerfoto
{
	position:absolute;
	top:400px;
}

.parrafo
{
	background-color: #F6B62E;
	border:1px dashed #EF2F2F;
	position:relative;
	top:50px;
	width: 540px;
	height: 300px;
	border-radius:10%;
}

.bloque2
{
	background-color: #FDBF3B;

}